filter {
    outline: 1px solid gray;
    padding: 2em;
    box-sizing: border-box;

    width: 20em;
    height: 20em;

    border-radius: 1rem;
}

.title {
    font-size: 1.25em;
    padding-bottom: 1em;
}

#filters {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
